@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
html,
body {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  height: 100%;
  background-color: white;
  color: white;
}

.container {
  max-width: 1270px;
}

@media (min-width: 768px) {
  .container {
    padding: 75px 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato Black", sans-serif;
  font-size: 60px;
  color: white;
}

p {
  font-size: 22px;
  padding: 0;
  margin: 0;
}

span,
strong {
  font-family: "Lato Black", sans-serif;
}

a,
a:hover,
a:active,
a:focus {
  color: white;
  text-decoration: none;
  outline: none;
}

.social-icon {
  background-color: #0d173f;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon:hover {
  color: #584ed8;
}

.social-icon i {
  display: block;
  font-size: 18px;
}

.number {
  display: inline-block;
  font-family: "Lato Black", sans-serif;
  font-size: 22px;
  color: white;
  border: none;
}

.bg-black {
  background: black;
  background: radial-gradient(circle, black 0%, black 70%, rgba(0, 212, 255, 0) 100%);
}

.btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 290px;
  font-family: "Lato Black", sans-serif;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  background-color: #f8443d;
  text-transform: uppercase;
}

.btn:hover {
  color: white;
  background-color: #584ed8;
}

.btn-sale {
  width: 320px;
  padding: 20px;
}

form * {
  width: 100%;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 17.29px 1.71px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 17.29px 1.71px rgba(0, 0, 0, 0.7);
}

form button {
  background-color: #d7463f;
}

form button:hover,
button:focus {
  background-color: #564fd3;
}

input::-webkit-input-placeholder {
  font-family: "Lato Light", sans-serif;
  color: #2c293b;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-family: "Lato Light", sans-serif;
  color: #2c293b;
  opacity: 1;
}

input::-ms-input-placeholder {
  font-family: "Lato Light", sans-serif;
  color: #2c293b;
  opacity: 1;
}

input::placeholder {
  font-family: "Lato Light", sans-serif;
  color: #2c293b;
  opacity: 1;
}

.black-title {
  color: black;
  text-shadow: none;
}

.carousel-indicators {
  position: static;
  display: block;
}

.carousel-indicators li {
  cursor: pointer;
  text-indent: 0;
}

.magic_indicators li {
  background-color: white;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  opacity: 1;
}

.magic_indicators li:hover,
.magic_indicators .active {
  background-color: #564fd3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zoom {
  -o-object-fit: cover;
     object-fit: cover;
}

.sale-button {
  padding: 10px 20px;
}

.sale-button {
  font-size: 20px;
  background-color: #d7463f;
  border: none;
  border-radius: 33px;
}

.sale-button:hover {
  background-color: #564fd3;
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(rgba(86, 79, 211, 0.7)), to(rgba(221, 84, 70, 0.7)));
  background: linear-gradient(100grad, rgba(86, 79, 211, 0.7), rgba(221, 84, 70, 0.7));
}

.navbar * {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .navbar {
    height: 100px;
  }
}

.navbar-brand {
  padding: 0;
  margin-right: 0.5rem;
}

.navbar-brand img {
  display: block;
  height: 50px;
}

@media (min-width: 768px) {
  .navbar-brand {
    height: 55% !important;
  }
  .navbar-brand img {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    height: 100% !important;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

button.navbar-toggler {
  background-color: white;
}

.btn-navbar {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 4px solid white;
  border-radius: 50px;
}

.btn-navbar:hover {
  color: #f8443d;
  border-color: #f8443d;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0px;
  }
}

.navbar-expand-md .navbar-nav .nav-link:hover {
  color: #f8443d;
}

@media (min-width: 768px) {
  .navbar-collapse {
    height: 100%;
  }
}

.navbar-collapse .nav-item {
  font-size: 18px;
  text-shadow: 0 2px 11.64px black;
}

@media (min-width: 768px) {
  .navbar-collapse .nav-item {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
}

@media (min-width: 1270px) {
  .navbar-collapse .nav-item {
    font-size: 22px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.navbar-collapse .nav-item .number {
  font-size: "Lato", sans-serif;
}

@media (min-width: 992px) {
  .navbar-collapse #first-row-navbar .nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.vertical-rule {
  border-right: 1px solid #925172;
  height: 39.8px;
  width: 1px;
}

.first-block {
  min-height: 100vh;
  background: url("/img/photo/bg-photo-first-block.jpg") top/cover no-repeat fixed;
}

.first-block .container {
  height: 100vh;
  min-height: 900px;
  max-height: 1290px;
  padding-top: 100px;
}

.first-block h1 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.first-block h1 hr {
  background-image: url("/img/icon/hr.svg");
  background-repeat: no-repeat;
  height: 19px;
  width: 137px;
  margin: 0.5rem auto;
}

.first-block h1 span {
  font-size: 30px;
}

.first-block h1 span:last-child {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.first-block h1 strong {
  font-size: 40px;
  color: #584ed8;
}

#slider-first-block .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}

@media (min-width: 768px) {
  #slider-first-block .carousel-item img {
    height: 200px;
  }
}

@media (min-width: 992px) {
  #slider-first-block .carousel-item img {
    height: 250px;
  }
}

@media (min-width: 1200px) {
  #slider-first-block .carousel-item img {
    height: 300px;
  }
}

@media (min-width: 768px) {
  #slider-first-block .carousel-inner {
    border: 4px white solid;
    border-radius: 10px;
  }
  #slider-first-block .carousel-item-next.carousel-item-left,
  #slider-first-block .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #slider-first-block .carousel-item-next,
  #slider-first-block .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  #slider-first-block .carousel-item-prev,
  #slider-first-block .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  #slider-first-block .carousel-indicators li {
    width: 1em;
    border-radius: 50%;
    height: 1em;
    margin: 15px 0;
    opacity: 1;
    background-color: white;
  }
  #slider-first-block .carousel-indicators li:hover,
  #slider-first-block .carousel-indicators .active {
    background-color: #564fd3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
