/*block-about-profession START*/

.block-about-profession {
	background-image: url("/img/photo/bg-photo-block-about-profession.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	display: flex;
}

svg:hover #slider-button {
	fill: #cf94da;
}

#slider-block-about-profession img {
	max-width: 100%;
}

@media (min-width: 768px) {
	#slider-block-about-profession img {
		max-width: 80%;
	}
}

#slider-block-about-profession .carousel-item {
	text-align: center;
}

#slider-block-about-profession p,
#slider-block-about-profession .carousel-indicators li {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: "Lato Light", sans-serif;
	border-radius: 10px;
}

#slider-block-about-profession p {
	font-size: 22px;
	line-height: 25px;
	border: 2px white solid;
	height: 80px;
	margin-top: 1em;
}

#slider-block-about-profession .carousel-indicators li {
	border: 2px transparent solid;
	width: 130px;
	height: auto;
	font-size: 13px;
}

@media (min-width: 768px) {
	#slider-block-about-profession .carousel-indicators li {
		width: 160px;
		height: 120px;
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	#slider-block-about-profession .carousel-indicators li {
		width: 175px;
		font-size: 1em;
		padding-left: 0.25em;
		padding-right: 0.25em;
	}
}

#slider-block-about-profession .carousel-indicators .active {
	border-color: white;
	opacity: 1;
}

/*block-about-profession END*/