$LatoBlack: "Lato Black", sans-serif;
$Lato: "Lato", sans-serif;

body {
	font-family: $Lato;
	height: 100%;
	background-color: white;
}

.container {
	max-width: 1170px;
}

.container {
	padding-top: (150px / 2);
	padding-bottom: (150px / 2);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $LatoBlack;
	color: white;
}

h1 {
	font-size: 22px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-size: 50px;
	text-shadow: 0 2px 11.64px rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {
	h2 {
		font-size: 60px;
	}
}

h3 {
	font-size: 20px;
	text-shadow: 0 2px 11.64px rgba(0, 0, 0, 1);
}

p,
button,
li,
span {
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
}

button:active,
button:focus,
a:active,
a:focus {
	outline: none;
}

form * {
	width: 100%;
	border: none;
	border-radius: 30px;
	box-shadow: 0 1px 17.29px 1.71px rgba(0, 0, 0, 0.7);
}

form button {
	background-color: #d7463f;
	font-family: "Lato Black", sans-serif;
}

form button:hover,
button:focus {
	background-color: #564fd3;
}

input::placeholder {
	font-family: "Lato Light", sans-serif;
	color: #2c293b;
	opacity: 1;
}

.black-title {
	color: black;
	text-shadow: none;
}

.fa-phone {
	color: #d7463f;
	font-size: 36px;
	text-shadow: 0 2px 11.64px rgba(0, 0, 0, 0.7);
}

.number {
	font-family: "Lato Black", sans-serif;
	font-size: 28px;
}

@media (min-width: 992px) {
	.number {
		font-size: 30px;
	}
}

a.social {
	width: 30px;
	height: 30px;
	background-color: #2c293b;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.social:hover {
	color: #564fd3;
}

.carousel-indicators {
	position: static;
	display: block;
}

.carousel-indicators li {
	cursor: pointer;
	text-indent: 0;
}

.magic_indicators li {
	background-color: white;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	opacity: 1;
}

.magic_indicators li:hover,
.magic_indicators .active {
	background-color: #564fd3;
	transition: 0.3s;
}

.sale-button {
	font-family: "Lato Black", sans-serif;
	font-size: 20px;
	background-color: #d7463f;
	border: none;
	border-radius: 33px;
}

.sale-button:hover {
	background-color: #564fd3;
}

.zoom {
	object-fit: cover;
}
