// Шрифты
$regularFont: 'Lato', sans-serif;
$blackFont: 'Lato Black', sans-serif;
$formFont: 'Lato Light', sans-serif;

$fzRegular: 22px;
$fzLight: 18px;

// Цвета
$warm-blue: #584ed8;
$orangey-red: #f8443d;
$white: #ffffff;
$coral: #ff5241;
$dark-indigo: #0d173f;
$blue-with-a-hint-of-purple: #3931a6;
$dark-indigo-two: #080f52;
$midnight-purple: #1c0036;
$dark-blue: #00175d;
$coral-two: #fd5444;
$aqua-blue: #00c9d5;
$black: #000000;
$dark: #292439;
$orangey-red-two: #f8443c;
$aqua-blue-two: #00c3d9;
$lavender-pink: #e295dd;
$blueberry: #40399e;
$dusky-rose: #b16177;