.first-block {
	min-height: 100vh;
	background: url("/img/photo/bg-photo-first-block.jpg") top / cover no-repeat fixed;
	.container {
		height: 100vh;
		min-height: 900px;
		max-height: 1290px;
		padding-top: 100px;
	}

	h1 {
		// Перенеси в first block
		font-size: 22px;
		text-align: center;
		text-transform: uppercase;
		hr {
			background-image: url("/img/icon/hr.svg");
			background-repeat: no-repeat;
			height: 19px;
			width: 137px;
			margin: 0.5rem auto;
		}
		span {
			font-size: 30px;
		}
		span:last-child {
			font-family: $regularFont;
			font-size: 16px;
			line-height: 26px;
		}
		strong {
			font-size: 40px;
			color: $warm-blue;
		}
	}
}

// Карусель
#slider-first-block .carousel-item img {
	object-fit: cover;
	object-position: top;
	width: 100%;
}

@media (min-width: 768px) {
	#slider-first-block .carousel-item img {
		height: 200px;
	}
}

@media (min-width: 992px) {
	#slider-first-block .carousel-item img {
		height: 250px;
	}
}

@media (min-width: 1200px) {
	#slider-first-block .carousel-item img {
		height: 300px;
	}
}

@media (min-width: 768px) {
	#slider-first-block .carousel-inner {
		border: 4px white solid;
		border-radius: 10px;
	}

	#slider-first-block .carousel-item-next.carousel-item-left,
	#slider-first-block .carousel-item-prev.carousel-item-right {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	#slider-first-block .carousel-item-next,
	#slider-first-block .active.carousel-item-right {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	#slider-first-block .carousel-item-prev,
	#slider-first-block .active.carousel-item-left {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	#slider-first-block .carousel-indicators li {
		width: 1em;
		border-radius: 50%;
		height: 1em;
		margin: 15px 0;
		opacity: 1;
		background-color: white;
	}

	#slider-first-block .carousel-indicators li:hover,
	#slider-first-block .carousel-indicators .active {
		background-color: #564fd3;
		transition: 0.3s;
	}
}
