#block-how-I-work {
	background-image: url("/img/photo/bg-photo-block-how-I-work.jpg");
	background-size: cover;
	background-position: center;
	.process-diagram {
		display: grid;
		grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
		grid-template-rows: auto;
		grid-template-areas: "ico-how-i-work-1 arrow-1 ico-how-i-work-2 arrow-2 ico-how-i-work-3" "ico-how-i-work-5 arrow-4 ico-how-i-work-4 arrow-3 ico-how-i-work-3";
		align-items: center;
	}

	.ico-how-i-work-1 {
		grid-area: ico-how-i-work-1;
		margin-bottom: 25%;
	}

	.ico-how-i-work-2 {
		grid-area: ico-how-i-work-2;
	}

	.ico-how-i-work-3 {
		grid-area: ico-how-i-work-3;
	}

	.ico-how-i-work-4 {
		grid-area: ico-how-i-work-4;
	}

	.ico-how-i-work-5 {
		grid-area: ico-how-i-work-5;
		margin-top: 25%;
	}

	.arrow-1 {
		grid-area: arrow-1;
	}

	.arrow-2 {
		grid-area: arrow-2;
		margin-top: 25%;
	}

	.arrow-3 {
		grid-area: arrow-3;
		margin-bottom: 25%;
	}

	.arrow-4 {
		grid-area: arrow-4;
	}
}
